/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');    margin-left:0px !important;
*/    



.container {
    max-width:100% !important;
    padding-top:40px !important;
    background:#eee !important;
}

body,p,a,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
a{
    color:#000 !important;
    font-size:17px !important;

}

/*h2,h3,h4{
font-family: 'Dancing Script', cursive;
}*/

.bg-image.postlogout {
    background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%),url('../img/joinusback_1.png') !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    padding: 140px 20px 20px 20px !important;
    border-radius:20px !important;
}

.postlogout h2 {
    color:#fff !important; 
    font-size:50px !important;
    font-weight:700 !important;
    line-height:1.2 !important;
}

.postlogout p{
    color:#fff !important;
    font-weight:700 !important;
    font-size:15px !important;
}
input:not(input[type=submit]),
textarea,
select{
    background: #eee !important;
}
.row.post ,
#contact-form{
        box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
        background:#fff !important;
        margin-top:20px !important;
        padding:20px !important;
                        border-radius:20px !important 


}

img.userimagepost {
    width:40px !important;
    height:40px !important;
    border-radius:50% !important;
}

.padzero{
    padding:0px !important;
}

p.feed-content {
    padding-top:10px !important;
    padding-bottom:10px !important;
}

img.feedimg {
    height:300px !important;
    width:100% !important;
    object-fit:cover !important;

}

.timeline {
/*    box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
*/        background:#eee !important;
        margin-top:20px !important;
            font-size:18px !important;
/*    padding:20px !important;
*/    border:1px solid #eee !important;
    border-radius:20px !important 
            
        }

.timeline li a{
    color:#000 !important;


}
.timeline li{
    list-style-type:none !important;
}

.sidememb {
/*      box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
/*       padding:20px !important;
/*            border:1px solid #ccc !important;
/*             border-radius:20px !important 
*/

}

.sidememb img {
      height:45px !important;
      width:45px !important;
      border-radius:50% !important;
}


.members {
    border-bottom:1px solid #ccc !important;
   padding-bottom:5px !important;
}

.loginform {
     /* box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important; */
        background:#fff !important;
        margin-top:20px !important;
        padding:10px !important;
                    border:1px solid #ccc !important;
                        border-radius:20px !important 
}

.loginform input:not(input[type=submit]){
    border-radius:10px !important;
}

.postlog img{
    width:100% !important;
    height:350px !important;
    object-fit:cover !important;
        border-radius:20px 20px 0px 0px;

}

.postlog {
         box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
        background:#fff !important;
        margin-top:20px !important;
                    border:1px solid #ccc !important;
                        border-radius:20px !important 
}


.postlog h2,
.postlog p{
    padding:10px !important;

}


img.image-preview_image {
    width:100% !important;
    height:300px !important;
    object-fit:cover !important;
}


.product-title {
    height:75px !important;
}

p.actual-price.strikethrough {
    text-decoration:  line-through !important;
}

p.actual-price{
    font-weight:bold !important;
    text-align:right !important;
}



p.sale-price {
    font-size:20px !important;
    text-align:left !important;
}

.col-md-3.productimg,

.col-md-9.productdetails {
    padding-right:0px !important;
    padding-left:0px !important;
   }



.sidebarproduct {
     box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
        background:#fff !important;
        margin-top:20px !important;
                    border:1px solid #ccc !important;
                        border-radius:20px !important ;
                        padding:10px 5px !important;


}



.col-md-3.productimg img {
    width:70px !important;
    height:auto !important;
}
#usercp{
    height: 150px;
    border-radius: 10px;
}
#userDp{
    margin-top: -125px;
    border-radius: 10px;
}
#pusercp{
    width: 100%;
    border-radius: 10px;
    height: 400px;
}
#puserDp{
    position: absolute;
    bottom: 50px;
    left: 20px;
    width: 200px;
}
.pnm{
    bottom: 120px;
    position: absolute;
    left: 235px;
    background: #0000006b;
    color: white;
    box-shadow: 5px 5px 5px 5px #00000054;
    border-radius: 10px;
}
.pleft #login{
    display: none;
}
.pup{
    margin-top: -70px;
}
.navbar-nav .dropdown-toggle::after{
    display: none !important;
}
.navbar-nav .fa-user-plus{
    margin-top: 10px;
}

a.underline{
  text-decoration: none;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}


@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}



.product-archive a.btn-dark {
    color:#fff !important;
    text-align:center !important;
    font-size:15px !important;
}

.product-archive{
        box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
        background:#fff !important;
        margin-top:20px !important;
                    border:1px solid #ccc !important;
                        border-radius:20px !important ;
padding:0px 0px !important;
                        margin-right:10px !important;
                        margin-left:10px !important;
}

@media(min-width:767px){
.col-md-6.col-lg-6.col-sm-12.product-archive 
{flex: 0 0 46%;max-width: 46%;

}
}

.pro-link{
    margin:0 auto !important;
}


.pro-cat {
    background:#000 !important;
    width:50% !important;
    color:#fff !important;
    border-radius:20px 0px 10px 0px !important;
   padding:5px 12px !important;
   font-weight:bold !important;

}

.pro-cat p{
    margin-bottom:0px !important;
}

.prodet {padding:10px 
!important;}

.proimage img {
   height:200px !important;
   width:100% !important;
   object-fit:cover !important;
}

.feed_formarea,
.emojionearea, .emojionearea.form-control {
    background:#eee !Important;
    padding-bottom:5px !Important;

}

.feed_formarea textarea,
.emojionearea, .emojionearea.form-control{
    border:none !Important;
    border-bottom:2px solid #ccc !Important;
}

.feed_formarea{
border: 2px solid #eee !important;
    padding: 10px;
}


.product-title h2 {
    line-height:1.5 !important;
    font-size:15px !important;
}




.timeline-new a{
    line-height: 1.8 !important;
}

.sidebarproduct hr{
    margin:0px !important;
}
.post-info {
  margin: 10px auto 0px;
  padding: 5px;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}
.logged_in_user {
  padding: 10px 30px 0px;
}
.underline .fa{
    width: 20px !important;
}
.like-dislike{
    float: left;
    margin-left: 10px;
}
.share{
    float: right;
    margin-right: 20px;
}
#share{
    float: right;
    margin-right: 20px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    }
    
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

.tab button:hover {
background-color: #ddd;
}


.tab button.active {
background-color: #ccc;
}


.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}
.prolike{
position: absolute;
padding: 10px;
margin-top: -50px;
background: #d3d3d361;
right: 30px;
border-radius: 10px;
display: none;
}
.prolike a{
    margin: 10px;
} 
.load_friend img{
    width:100px !important;
    height:100px !important;
    border-radius:50% !important;
}


.load_friend{
    text-align:center !important;
}
.load_friend p{
    text-align:center !important;
}

/*.load_friend{
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
*//*.load_friend a{
    margin-left: 20px;
}
*/
div#gall img {
    width:100% !important;
    height:150px !important;
    object-fit:cover !important;
}
.post-single {
    box-shadow:20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff !important;
        background:#fff !important;
        margin-top:20px !important;
        padding:20px !important;
                    border:1px solid #ccc !important;
                        border-radius:20px !important 
}

.postlog .btn-dark {
    color:#fff !important;
  }
 .postlog h2{
    font-size:22px !important;
    margin-bottom: 0px !important;
    padding-bottom:5px !important;
 }
 .post-single .post_img{
     width: 100%;
 }


/* .timeline {
    background:#eee !important;
}
*/
/*.navnormal {
    margin-bottom:30px !important;
}*/

.sidememb,
.sidebarproduct {
    background:#eee !important;
    border: none !important;
}


img#puserDptop {
    width:20px !important;
    height:20px !important;
    border-radius:50% !important;
}


img#puserDptop {
    margin:0px 5px 0px 0px !important;
   float:none !important;
}

span.udr {
    border-bottom:2px solid  !important;
}

.row{
    margin-left:0px !important;
    margin-right:0px !important;
}

@media(max-width:767px){
a.navbar-brand {
    width:70% !important;
}
}

@media(max-width:767px){
.leftside {
    display:none ;
    margin-bottom:10px;
}
}

@media(min-width: 767px){
.sidetogglemobile{
    display: none;
}

.sidetogglemobilenew{
    display:block  !important;
}
}

.leftside h3{
    font-size:17px !important;
    text-align:left !important;
}

.leftside ul{
    padding-left:0px !important;
}

.leftside a{
    font-size:15px !important;
}


.leftside {
    height:100vh !important;
    overflow-y:scroll !important;
}


.col-md-6.fimg {
    padding:10px !important;
}



img.feedimg {
    height:200px !important;
    object-fit:cover !important;
}

div#image-preview img {
    width:100% !important;
}
#chat_button_30{
    background: #343a40;
    border-radius: 5px;
    padding: 5px 5px;
    border-color: #343a40;
}
#request_button_37{
    background: #343a40;
    border-radius: 5px;
    padding: 5px 5px;
}
#userDpe{
    margin-top: -160px;
    width: 125px;
}